<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 style="font-size: 35px; text-align: center;">Welcome to ngx dhis2 table library demo</h1>
      <div class="col-12" style="margin-bottom: 5px; margin-top: 10px;">
        <select [(ngModel)]="currentLayer" (change)="onVisualizationChange($event)" class="form-control form-control-sm">
          <option value="layer1">Layer 1</option>
          <option value="layer2">Layer 2</option>
        </select>
      </div>
      <div class="col-12" *ngIf="(visualizationLayers$ | async)">
        <ngx-dhis2-table-list [visualizationLayers]="visualizationLayers$ | async" [visualizationType]="'TABLE'"></ngx-dhis2-table-list>
      </div>
    </div>
  </div>
</div>